In [1]:
#implement data wrangling on a dataset
import pandas as pd

In [2]:
pwd

'C:\\Users\\Akash Mishra\\PycharmProjects\\Essen.tech.prat'

In [3]:
df=pd.read_csv("exl.csv")
df

   a   b   c   d   message
0  1   2   3   4     hello
1  5   6   7   8     akash
2  9  10  11  12  welldone

In [4]:
df2=pd.read_table("exl.csv",sep=',')
df2

   a   b   c   d   message
0  1   2   3   4     hello
1  5   6   7   8     akash
2  9  10  11  12  welldone

In [7]:
list(open( "ex2.txt"))

['                     a                      b\n',
 'aaaa             -0.343434              -0.78544\n',
 'bbbb              8.343421               9.56754\n',
 'cccc             -9.876543              -0.76765\n',
 'dddd              1.3345566              5.678910']

In [13]:
result=pd.read_table("ex2.txt",sep='\s+')
result

             a        b
aaaa -0.343434 -0.78544
bbbb  8.343421  9.56754
cccc -9.876543 -0.76765
dddd  1.334557  5.67891

In [15]:
#demonstrate the handling of missing data and string manipulation
#string manipulation
val='akash,abhishek,anchal'
val

'akash,abhishek,anchal'

In [17]:
val.split(',')

['akash', 'abhishek', 'anchal']

In [18]:
splitOutput=val.split(',')

In [19]:
val

'akash,abhishek,anchal'

In [20]:
splitOutput

['akash', 'abhishek', 'anchal']

In [29]:
pieces=[x.strip()for x in val.split(',')]
places

['akash', 'abhishek', 'anchal']

In [30]:
first,second,third=pieces

In [31]:
first

'akash'

In [32]:
second

'abhishek'

In [33]:
third

'anchal'

In [35]:
'::'.join(pieces)

'akash::abhishek::anchal'

In [36]:
val

'akash,abhishek,anchal'

In [37]:
val.replace(',','::')

'akash::abhishek::anchal'

In [38]:
#implement  the code to interact with web apis(2.1)get,post,put,delete.
#perform web scrapping
#interacting with web ui(2.1)
import requests

In [40]:
url='https://dummyjason.com/products'
url

'https://dummyjason.com/products'

In [42]:
resp=requests.get(url)
resp

In [48]:
resp=requests.get(url)
resp

In [52]:
data=resp.json()
data

AttributeError: 'Response' object has no attribute 'Json'

In [ ]:
#interacting with databases

In [54]:
import sqlite3

In [60]:
query = """ 
.....: CREATE TABLE test 
.....: (firstName VARCHAR(20), lastName VARCHAR(20), 
.....: rnumber REAL, inumber INTEGER 
.....: );"""

##

In [61]:
con=sqlite3.connect('mydata.sqlite')

In [62]:
con.execute(query)

In [63]:
con.commit()

In [65]:
data=[('akash','mishra',4.65,6),
      ('abhi','kumar',5.12,8),
      ('golu','tiw',9.98,9)]

In [66]:
stmt="INSERT INTO test VALUES(?,?,?,?)"

In [67]:
con.executemany(stmt,data)

In [68]:
con.commit()

In [72]:
cursor=con.execute('select * from test')

In [73]:
rows=cursor.fetchall()
rows

[('akash', 'mishra', 4.65, 6),
 ('abhi', 'kumar', 5.12, 8),
 ('golu', 'tiw', 9.98, 9)]

In [76]:
#perform data cleaning and preparation
import pandas as pd 
import numpy as np

In [77]:
#perform data cleaning and preparation
string_data=pd.Series(['akash','virat',np.nan,'rohit','shami','gill'])
string_data

0    akash
1    virat
2      NaN
3    rohit
4    shami
5     gill
dtype: object